<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "https://prompts.chat/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
      {% endif %}

      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        Prompts Impressionantes do ChatGPT é open source. 
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>
      anchors.add();
      document.querySelectorAll("h2[id^=atuar] + p + blockquote").forEach((x) => {
        x.setAttribute('contentEditable', true);
        const button = document.createElement('button');
        button.style.border = '0';
        button.style.borderRadius = '3px';
        button.style.fontSize = '1rem';
        button.style.marginRight = '0.5rem';
        button.style.padding = '0';
        button.style.backgroundColor = 'transparent';
        button.innerHTML = '✂️';
        button.addEventListener('click', async () => {
          if (navigator.clipboard) {
            await navigator.clipboard.writeText(x.innerText);
            alert('Prompt foi copiar, agora cole no ChatGPT.');
          } else {
            alert('Seu navegador não suporta a cópia da área de transferência. Selecione o prompt e copie.')
          }
        }, false);
        x.previousElementSibling.previousElementSibling.prepend(button);
      });
    </script>
  </body>
</html>
